/* 글로벌 변수 정하기 */
:root {
  --color-black: rgb(57, 57, 57);

  --interval-large: 76px;
  --interval-medium: 12px;
  --interval-small: 8px;

  --with-contain: 500px;
}
body {
  background-color: var(--color-black);
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
button {
  background-color: transparent;
  border: none;
}

.header {
  margin-top: var(--interval-large);
}
.header__logo {
  display: block;
  margin: auto;
  transition: 200ms ease;
}
.header__logo:hover {
  transform: scale(1.1);
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: var(--with-contain);
  margin: auto;
  margin-top: var(--interval-medium);
  margin-bottom: var(--interval-medium);
}
.menu__btn {
  border-radius: 4px;
  min-height: 62px;
  min-width: 68px;
  cursor: pointer;
  font-size: 18px;
  transition: 200ms ease;
}
.menu__btn:hover {
  transform: scale(1.1);
}
.menu__btn:nth-child(4),
.menu__btn:nth-child(5),
.menu__btn:nth-child(6) {
  padding: var(--interval-medium);
}
.btn-img {
  max-height: 62px;
  max-width: 68px;
}
.blue {
  background-color: skyblue;
}

.yellow {
  background-color: gold;
}

.pink {
  background-color: pink;
}

.main {
  display: block;
  margin: auto;
  width: var(--with-contain);
  height: 400px;
  overflow-y: auto;
}

.item {
  display: flex;
  margin-bottom: var(--interval-small);
  padding: var(--interval-medium);
  background-color: white;
  border-radius: 4px;
  cursor: pointer;
}
.item__img {
  max-width: 54px;
}
.item__description {
  margin-left: var(--interval-medium);
  font-size: 16px;
}
.invisible {
  display: none;
}
